@font-face {
    font-family: 'necromancer';
    font-style: normal;
    font-weight: 400;
    src: url('./Necromancer-lgP8Z.ttf');
}

.admin_view {
    font-family: 'necromancer';
    font-size: 2rem;
    height: 100%;
    flex-direction: row;

    .tabs {
        display: flex;
        height: 10%;
        justify-content: space-around;
        align-items: center;

        .next_events {}

        .relations {}

        .laws {}
    }

    .work_area {
        height: 90%;
        display: flex;
        align-items: center;
        /* text-align: center; */
        justify-content: space-evenly;
    }
}