@font-face {
    font-family: 'necromancer';
    font-style: normal;
    font-weight: 400;
    src: url('./Necromancer-lgP8Z.ttf');
}

.diplo_view {
    font-family: 'necromancer';
    font-size: 2rem;
    height: 100%;
    flex-direction: row;

    .tabs {
        height: 10%;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-items: center;

        .next_events {}

        .relations {}

        .laws {}
    }

    .work_area {
        height: 90%;
        display: flex;
        align-items: center;
        /* text-align: center; */
        justify-content: space-evenly;
    }
}