@font-face {
    font-family: 'necromancer';
    font-style: normal;
    font-weight: 400;
    src: url('./Necromancer-lgP8Z.ttf');
}

.main_view {
    font-family: necromancer;
    height: 100%;

    .top_banner {
        font-size: 1.5rem;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .center_view {
        height: 80%;
        background-color: gray;
    }

    .bottom_banner {
        display: flex;
        font-size: 4rem;
        height: 10%;
        background-color: red;
        justify-content: space-evenly;
        align-items: center;
    }
}